<header></header>
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>
      <a routerLink="/contact" routerLinkActive="active">Contact</a>
    </span>
    <span>
      <a routerLink="/product" routerLinkActive="active">Product</a>
    </span>
    <span>
      <a routerLink="/home" routerLinkActive="active">Home</a>
    </span>
    <span class="example-spacer"></span>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row></mat-toolbar
>
